#about-page {
	background-color: $greywhite;

	.content {
		justify-content: space-between;

		#my-photo {
			width        : 40%;
			border-radius: 5%;
		}

		#about-text {
			width    : 50%;
			font-size: $sm-text;
		}

		@include sm {
			flex-direction : column;
			align-items    : center;
			justify-content: space-around;

			#about-title {
				text-align: center;
				margin-top: 0.5em;
			}

			#my-photo {
				width : 100%;
				height: auto;
			}

			#about-text {
				width        : 70vw;
				font-size    : $sm-text;
				text-align   : left;
				margin-bottom: 1em;
			}
		}
	}
}