#about {
	margin     : 0 10%;
	padding-top: 5em;
}

.content {
	display        : flex;
	justify-content: space-around;
	align-items    : center;

	img {
		height       : 70vh;
		border-radius: 5%;
	}

	p {
		padding  : 1em;
		width    : 30vw;
		font-size: 1.5em;
	}

	@include lg {
		p {
			font-size: 1.5em;
		}
	}

	@include md {
		flex-direction: column;
		align-items   : center;

		img {
			width : 100%;
			height: auto;
		}

		p {
			width: 100%;
		}
	}
}