#about {
	margin     : 0;
	padding-top: 5em;

	@include lg {
		margin: 0 10%;
	}
}

.content {
	display        : flex;
	justify-content: space-evenly;
	align-items    : center;
	height         : 90vh;

	img {
		width        : 30%;
		border-radius: 5%;
	}

	p {
		width    : 20vw;
		font-size: $paragraph-text;
	}

	@include lg {
		margin-top: 2em;
		height    : auto;

		img {
			width : 20%;
			height: auto;
		}

		p {
			font-size: $sm-text*1.5;
			width    : 30vw;
		}
	}

	@include md {
		flex-direction: column;
		align-items   : center;

		h2 {
			text-align: center;
			margin-top: 0.5em;
		}

		img {
			width : 75%;
			height: auto;
		}

		p {
			width     : 70vw;
			font-size : $sm-text;
			text-align: left;
			margin    : 0;
		}
	}
}