// main components file
.svg-btn {
	display        : flex;
	width          : 100%;
	justify-content: center;

	img {
		position : absolute;
		transform: translateY(-50%);
		cursor   : pointer;
		width    : 8%;
		z-index  : 990;

		@include md {
			width: 15%;
		}

		@include sm {
			width: 20%;
		}
	}
}

.anchor {
	position  : relative;
	visibility: hidden;
	top       : -15vh;
	height    : 0;
}

@import "./navbar";
@import "./home";
@import "./about";
@import "./skills";