.page {
	background-color: $light-background;

	.content {
		// subtract navbar height and next-page height
		min-height     : 100vh - $navbar-height * 2 - $button-margin;
		margin         : 0 20vw;
		display        : flex;
		align-items    : center;
		justify-content: center;

		@include sm {
			margin: 0 10vw;
		}
	}

	.next-page {
		position       : relative;
		height         : $navbar-height + $button-margin;
		bottom         : 0;
		display        : flex;
		justify-content: center;

		img {
			margin-bottom: $button-margin;
			height       : 8vh;
		}
	}

	.anchor {
		position: relative;
		height  : 0;
		bottom  : $navbar-height;
	}
}

.bubble-button {
	background-color: $dark-background;
	padding         : 0.5em 1em;
	border-radius   : 20px;
	width           : fit-content;

	@include md {
		font-size: $sm-text;
	}

	a {
		color          : $greywhite;
		text-decoration: none;
	}
}

@import "./navbar";
@import "./home";
@import "./about";
@import "./skills";
@import "./works";
@import "./footer";
@import "./svgs";