#home-anchor {
	// it takes up the height of the navbar
	height: $navbar-height;
}

#home-page .content {
	margin         : 0 !important;
	color          : white;
	font-family    : 'Montserrat Alternates', sans-serif;
	flex-direction : row;
	justify-content: space-evenly;

	img {
		width: 30%;
	}

	#header-wrapper {
		display        : flex;
		justify-content: center;
	}

	#header {
		font-size: $xl-text;
		transform: translateY(-1em);

		a {
			text-decoration: none;
			color          : white;
			cursor         : default;
		}

		#home-part1::after {
			content: 'I am Zhiyang Zuo,';

			@include sm {
				content: 'I am';
			}
		}

		#home-part2::after {
			content: '';

			@include sm {
				white-space: pre;
				content    : 'Zhiyang Zuo,\a';
			}
		}
	}

	@include lg {
		flex-direction: column;

		img {
			width     : 50%;
			margin-top: $navbar-height;
		}

		#header {
			margin: 0.5em 0 0 0;
		}
	}

	@include md {
		#header {
			translate: none;
			font-size: $lg-text - 8px;
		}
	}

	@include sm {
		img {
			width: 70%;
		}

		#header {
			width: 90%;
		}
	}
}

@keyframes blinker {
	50% {
		border-right: 0px;
	}
}