nav {
	position        : fixed;
	top             : 0px;
	z-index         : 999;
	display         : flex;
	justify-content : space-around;
	align-items     : center;
	height          : $navbar-height;
	width           : 100%;
	background-color: $dark-background;
}

.logo {
	color         : $greywhite;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size     : $sm-text;
	font-weight   : 500;
}

.nav-links {
	display        : flex;
	justify-content: space-around;
	width          : 40%;
	overflow-x     : hidden;

	@include lg {
		width: 50%;
	}

	@include md {
		position        : absolute;
		/* 100vh(display box height) - 8vh(nav height) */
		height          : 100vh-$navbar-height;
		// for some reason we need to subtract 2
		top             : $navbar-height - 2vh;
		background-color: $dark-background;
		display         : flex;
		flex-direction  : column;
		align-items     : center;
		width           : 100%;
		padding         : 0px;
		/* Hide the navlinks to the right side and transition it back in when mouse click on burger */
		transform       : translateX(100%);
		transition      : transform 0.5s ease-in;
	}

	li {
		list-style: none;

		@include md {
			opacity: 0;
		}
	}

	a {
		color          : $greywhite;
		text-decoration: none;
		letter-spacing : 3px;
		font-weight    : bold;
		font-size      : $sm-text;
	}
}

.burger {
	/* when screen width is long, we don't display burger */
	display: none;
	cursor : pointer;

	// show the burger
	@include md {
		display: block;
	}

	div {
		width           : 25px;
		height          : 3px;
		background-color: $greywhite;
		margin          : 5px;
		border-radius   : 2px;
		transition      : all 0.3s ease;
	}
}

@keyframes navLinkFade {
	from {
		opacity  : 0;
		transform: translateX(50px);
	}

	to {
		opacity  : 1;
		transform: translateX(0px);
	}
}

.toggle {
	.line1 {
		transform: rotate(45deg) translate(5px, 6px);
		width    : 28px;
	}

	.line2 {
		opacity: 0;
	}

	.line3 {
		transform: rotate(-45deg) translate(5px, -6px);
		width    : 28px;
	}
}

/* show the navlinks (color purple thing) hidden to the right */
.nav-active {
	transform: translateX(0);
}