#skills-page .content {
	margin        : 0 10vw;
	flex-direction: column;
}

#skills-grid {
	display              : grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap             : 2em;
	width                : 100%;

	.skills-item {
		border-radius   : $md-text;
		padding         : 0 $sm-text;
		min-height      : 300px;
		background-color: $dark-background;
		color           : $greywhite;
		display         : flex;
		flex-direction  : column;
		justify-content : flex-start;

		h2 {
			text-align: center;
		}

		li {
			line-height: 1.5em;
		}
	}

	@include md {
		margin-bottom: 2em;
	}
}