@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap");
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.page {
  background-color: #57C4FF;
}

.page .content {
  min-height: 81vh;
  margin: 0 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page .next-page {
  position: relative;
  height: 11vh;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page .next-page img {
  margin-bottom: 3vh;
  height: 8vh;
}

.page .anchor {
  position: relative;
  height: 0;
  bottom: 8vh;
}

.bubble-button {
  background-color: #197DB3;
  padding: 0.5em 1em;
  border-radius: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 768px) {
  .bubble-button {
    font-size: 12px;
  }
}

.bubble-button a {
  color: #e2e2e2;
  text-decoration: none;
}

nav {
  position: fixed;
  top: 0px;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8vh;
  width: 100%;
  background-color: #197DB3;
}

.logo {
  color: #e2e2e2;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 16px;
  font-weight: 500;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
  overflow-x: hidden;
}

@media (max-width: 992px) {
  .nav-links {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    /* 100vh(display box height) - 8vh(nav height) */
    height: 92vh;
    top: 6vh;
    background-color: #197DB3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 0px;
    /* Hide the navlinks to the right side and transition it back in when mouse click on burger */
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
}

.nav-links li {
  list-style: none;
}

@media (max-width: 768px) {
  .nav-links li {
    opacity: 0;
  }
}

.nav-links a {
  color: #e2e2e2;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 16px;
}

@media (max-width: 768px) {
  .nav-links a {
    font-size: 12px;
  }
}

.burger {
  /* when screen width is long, we don't display burger */
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .burger {
    display: block;
  }
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #e2e2e2;
  margin: 5px;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(45deg) translate(5px, 6px);
          transform: rotate(45deg) translate(5px, 6px);
  width: 28px;
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(-45deg) translate(5px, -6px);
          transform: rotate(-45deg) translate(5px, -6px);
  width: 28px;
}

/* show the navlinks (color purple thing) hidden to the right */
.nav-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#home-anchor {
  height: 8vh;
}

#home-page .content {
  margin: 0 !important;
  color: white;
  font-family: 'Montserrat Alternates', sans-serif;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home-page .content img {
  width: 28%;
}

#home-page .content #header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#home-page .content #header {
  font-size: 64px;
}

#home-page .content #header a {
  text-decoration: none;
  color: white;
  cursor: default;
}

#home-page .content #header #home-part1::after {
  content: 'I am Zhiyang Zuo,';
}

@media (max-width: 576px) {
  #home-page .content #header #home-part1::after {
    content: 'I am';
  }
}

#home-page .content #header #home-part2::after {
  content: '';
}

@media (max-width: 576px) {
  #home-page .content #header #home-part2::after {
    white-space: pre;
    content: 'Zhiyang Zuo,\a';
  }
}

@media (max-width: 992px) {
  #home-page .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #home-page .content img {
    width: 30%;
    margin-top: 8vh;
  }
  #home-page .content #header {
    margin-bottom: 1em;
    font-size: 48px;
  }
}

@media (max-width: 768px) {
  #home-page .content img {
    width: 50%;
    margin-top: 4vh;
  }
  #home-page .content #header {
    translate: none;
    font-size: 40px;
    margin-bottom: 0.5em;
  }
}

@media (max-width: 576px) {
  #home-page .content img {
    width: 70%;
  }
  #home-page .content #header {
    width: 90%;
  }
}

@-webkit-keyframes blinker {
  50% {
    border-right: 0px;
  }
}

@keyframes blinker {
  50% {
    border-right: 0px;
  }
}

#about-page {
  background-color: #e2e2e2;
}

#about-page .content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#about-page .content #my-photo {
  width: 40%;
  border-radius: 5%;
}

#about-page .content #about-text {
  width: 50%;
  font-size: 16px;
}

#about-page .content #about-text .bubble-button {
  -webkit-box-shadow: 0 7px #999;
          box-shadow: 0 7px #999;
}

#about-page .content #about-text .bubble-button:active {
  -webkit-box-shadow: 0 3px #666;
          box-shadow: 0 3px #666;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

@media (max-width: 576px) {
  #about-page .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #about-page .content #about-title {
    text-align: center;
    margin-top: 0.5em;
  }
  #about-page .content #my-photo {
    width: 100%;
    height: auto;
  }
  #about-page .content #about-text {
    width: 70vw;
    font-size: 16px;
    text-align: left;
    margin-bottom: 1em;
  }
}

#skills-page .content {
  margin: 0 10vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#skills-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2em;
  width: 100%;
}

#skills-grid .skills-item {
  border-radius: 32px;
  padding: 0 16px;
  min-height: 300px;
  background-color: #197DB3;
  color: #e2e2e2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#skills-grid .skills-item h2 {
  text-align: center;
}

#skills-grid .skills-item li {
  line-height: 1.5em;
}

@media (max-width: 768px) {
  #skills-grid {
    margin-bottom: 2em;
  }
}

#works-page {
  background-color: #e2e2e2;
}

#works-page .content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 992px) {
  #works-page .content {
    margin: 0 15vw;
  }
}

@media (max-width: 768px) {
  #works-page .content {
    margin: 0 10vw;
  }
}

.swiper-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30em;
  border: 1px solid black;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}

#work-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#work-wrapper .swiper-slide .work-background {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow-x: hidden;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

#work-wrapper .swiper-slide .work-background:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

#work-wrapper .swiper-slide .work-github {
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
  height: auto;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

#work-wrapper .swiper-slide .work-github:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

@media (max-width: 768px) {
  #work-wrapper .swiper-slide .work-github {
    width: 15%;
  }
}

#work-wrapper .swiper-slide .work-text {
  position: absolute;
  bottom: 0;
  padding-bottom: 2em;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  color: #e2e2e2;
}

#work-wrapper .swiper-slide .work-text h2,
#work-wrapper .swiper-slide .work-text p {
  padding: 0 5em;
}

#work-wrapper .swiper-slide .work-text p {
  text-align: left;
}

@media (max-width: 768px) {
  #work-wrapper .swiper-slide .work-text h2,
  #work-wrapper .swiper-slide .work-text p {
    padding: 0 1em;
  }
}

#work-wrapper .swiper-slide .work-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#work-wrapper .swiper-slide .work-bottom a {
  color: #e2e2e2;
  text-decoration: underline;
}

#work-wrapper .swiper-slide .work-bottom .work-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 50%;
}

#work-wrapper .swiper-slide .work-bottom .work-skills div {
  border-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px;
  margin-right: 5px;
  margin-bottom: 3px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #e2e2e2;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: black;
}

.swiper-button-next {
  padding: 0.9em 0.7em 0.9em 1.1em;
}

.swiper-button-prev {
  padding: 0.9em 1.1em 0.9em 0.7em;
}

.swiper-pagination-bullet-active {
  background-color: #e2e2e2;
}

#contact-page .content {
  min-height: 60vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=style.css.map */